<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/persistence 
 http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
 
<persistence-unit name="masterPU" transaction-type="RESOURCE_LOCAL">
	<provider>org.hibernate.ejb.HibernatePersistence</provider>
    <properties>
	    <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>	  
	   	 <!-- debugging flags -->            
	   <!-- <property name="hibernate.show_sql" value="true"/> -->
	    <property name="hibernate.format_sql" value="true"/>
    </properties>  
	
	<class>com.telappoint.commonrestws.common.masterdb.domain.AdminLogin</class>
	<class>com.telappoint.commonrestws.common.masterdb.domain.AdminLoginNew</class>
	<class>com.telappoint.commonrestws.common.masterdb.domain.AutoPay</class>
	<class>com.telappoint.commonrestws.common.masterdb.domain.Client</class>
	<class>com.telappoint.commonrestws.common.masterdb.domain.ClientDeploymentConfig</class>
	<class>com.telappoint.commonrestws.common.masterdb.domain.LoginAttempts</class>
	<class>com.telappoint.commonrestws.common.masterdb.domain.MobileAppDemos</class>	
	<class>com.telappoint.commonrestws.common.masterdb.domain.RequestLog</class>	
	<class>com.telappoint.commonrestws.common.masterdb.domain.Sla</class>
	<class>com.telappoint.commonrestws.common.masterdb.domain.SmsConfig</class>

 </persistence-unit>

 </persistence>